/*
 * Empty Stylesheet file.
 */

/*MINE*/
.commentHeader{
   
   -fx-font-weight: bold;
   -fx-text-fill:white;
   -fx-fill: #818181; 
   -fx-background-color: #485582; 
   -fx-padding: 4 4 4 4;   
   -fx-background-radius: 0; 
}
.commentText{

    -fx-padding: 10 10 10 10;	
}

.commentVBox{
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: black;    
    -fx-border-radius:5 5 5 5;
    -fx-padding: 2 2 2 2;
    -fx-effect: innershadow(three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );    
}


