/* 
    Document   : comment
    Created on : 06-Aug-2013, 11:22:30
    Author     : agime
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
	-fx-background-color: transparent; 
}

.bugHeader{
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );    
   -fx-background-color: whitesmoke; 
   -fx-padding: 4 4 4 4;
   -fx-background-insets: 0; 
   -fx-background-radius: 0; 
   -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 14px;
}


.commentHeader{
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );    
   -fx-background-color: transparent; 
   -fx-padding: 4 4 4 4;
   -fx-background-insets: 0; 
   -fx-background-radius: 0; 
}
.commentText{
  
    -fx-background-color: #f8f8f8;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius:15 15 15 15;
    -fx-padding: 10 10 10 10;	
}

.commentVBox{
    -fx-background-color:linear-gradient(to bottom, derive(lightyellow,20%), derive(lightyellow,40%));
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius:5 5 5 5;
    -fx-padding: 2 2 2 2;	
    -fx-effect: innershadow(three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );    
}
