
/*
 * Empty Stylesheet file.
 */

.root{

}


.table-view,.table-view:focused {
    -fx-font-size: 11pt;
    -fx-font-family: "Sans Serif";    
    -fx-border-width: 1;
    -fx-border-color: #c2d8f3;
    -fx-border-radius: 5;
    -fx-background-insets: 0;
}

.table-row {
    -fx-border-color: #c2d8f3;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: white;
}

.table-row:odd {
    -fx-background-color: derive(-fx-control-inner-background,-5%);
}

.table-row:filled:hover {
    -fx-background-color: -fx-row-hover-color;
}

.table-row:empty {
    -fx-background-color: white;
    -fx-border-width: 0;
}
/* When the table-row is selected and focused */
.table-view:focused .table-row:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-row-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-view:focused .table-row:filled:selected, .table-view:focused .table-row:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-view:focused .table-row:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-row-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

/*MINE*/
.commentHeader{
   
   -fx-font-weight: bold;
   -fx-text-fill:white;
   -fx-fill: #818181; 
   -fx-background-color: #485582; 
   -fx-padding: 4 4 4 4;   
   -fx-background-radius: 0; 
}
.commentText{
    -fx-background-color: transparent ;
    -fx-padding: 10 10 10 10;	
}

.commentVBox{
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color: black;    
    -fx-border-radius:5 5 5 5;
    -fx-padding: 2 2 2 2;
    -fx-effect: innershadow(three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );    
}
.bugHeader{
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );    
   -fx-background-color: transparent ;
   -fx-background-insets: 0px ;
   -fx-padding: 4 4 4 4;   
   -fx-background-radius: 0; 
   -fx-font-family: "Berlin Sans FB";
   -fx-font-size: 14px;
}
.bugAdditionalInfoHeader{
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );    
   -fx-background-color: whitesmoke; 
   -fx-padding: 4 4 4 4;
   -fx-background-insets: 0; 
   -fx-background-radius: 0; 
   -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 14px;
}
